<section class="home-page">
  <header>header</header>
  <router-outlet></router-outlet>
  <nav class="bottom-navigation">
    <ul class="bottom-navigation-items">
      <li class="bottom-navigation-item">
        <a class="bottom-navigation-item-link" routerLink="/">home</a>
      </li>
      <li class="bottom-navigation-item">
        <a class="bottom-navigation-item-link" routerLink="/explore">explore</a>
      </li>
      <li class="bottom-navigation-item">
        <a class="bottom-navigation-item-link" routerLink="/post">post</a>
      </li>
      <li class="bottom-navigation-item">
        <a class="bottom-navigation-item-link" routerLink="/activity">
          activity
        </a>
      </li>
      <li class="bottom-navigation-item">
        <a class="bottom-navigation-item-link" routerLink="/profile">profile</a>
      </li>
    </ul>
  </nav>
</section>
