{
  "root": true,
  "extends": "@stillmine/eslint-config/react",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-newline": ["warn", { "consistent": true }]
  }
}
