{
  "root": true,
  "extends": "@stillmine",
  "env": {
    "es6": true
  },
  "rules": {
    "@typescript-eslint/no-extra-parens": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "max-lines-per-function": "off",
    "no-eq-null": "off",
    "node/no-unpublished-require": "off",
    "react/jsx-indent-props": "off",
    "no-restricted-syntax": "off"
  }
}
