<main>
  <nav>한국어</nav>
  <article>
    <section>
      <h1>Instagram Lite</h1>
      <form>
        <button>Facebook으로 계속하기</button>
        <div>또는</div>
        <label>
          <input placeholder="전화번호, 사용자 이름 또는 이메일" />
        </label>
        <label>
          <input placeholder="비밀번호" />
        </label>
        <a>비밀번호를 잊으셨나요?</a>
        <button type="submit">로그인</button>
        <p>
          계정이 없으신가요?
          <a routerLink="/accounts/signup">가입하기</a>
        </p>
      </form>
    </section>
  </article>
  <footer>
    from FACEBOOK
  </footer>
</main>
