<main>
  <header>
    등록
  </header>
  <nav>한국어</nav>
  <article>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">
      <label>
        <input class="input" formControlName="email" placeholder="이메일 주소" type="email" />
      </label>
      <label>
        <input class="input" formControlName="password" placeholder="비밀번호" type="password" />
      </label>
      <label>
        <input class="input" formControlName="username" placeholder="이름" />
      </label>
      <app-button type="submit">가입하기</app-button>
    </form>
  </article>
</main>
