<section class="profile-page">
  <nav class="top-navigation">
    <header>{{ username }}</header>
  </nav>
  <main class="profile">
    <header class="profile-header">
      <img src="{{ profileImage }}" />
      <section class="profile-username">
        <h2>{{ username }}</h2>
        <app-button>프로필 편집</app-button>
      </section>
    </header>
    <div>description</div>
    <ul>
      user uploads
    </ul>
    <nav>tab</nav>
    <article>
      <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let upload of mediaService.mediaList">{{ upload.id }}</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
      </mat-grid-list>
    </article>
    <button (click)="signout()">로그아웃</button>
  </main>
  <app-navigation></app-navigation>
</section>
