<main>
  <nav>한국어</nav>
  <article>
    <section class="wrapper">
      <h1 class="logo">Instagram Lite</h1>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <app-button>
          Facebook으로 계속하기
        </app-button>
        <!-- <a href="http://localhost:8000/accounts/google" target="_blank">
          Google로 계속하기
        </a> -->
        <!-- <button type="button" (click)="googleLogin()">
          Google로 계속하기
        </button> -->
        <div>또는</div>
        <label class="form__field">
          <input
            formControlName="email"
            placeholder="전화번호, 사용자 이름 또는 이메일"
            type="text"
          />
        </label>
        <label class="form__field">
          <input
            formControlName="password"
            placeholder="비밀번호"
            type="password"
          />
        </label>
        <a>비밀번호를 잊으셨나요?</a>
        <button type="submit">로그인</button>
        <p>
          계정이 없으신가요?
          <a routerLink="/accounts/signup">가입하기</a>
        </p>
      </form>
    </section>
  </article>
  <footer>
    from FACEBOOK
  </footer>
</main>
