<main>
  <nav>한국어</nav>
  <article>
    <section class="wrapper">
      <h1 class="logo">Social Networking</h1>
      <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <a href="http://localhost:8001/facebook">
          Facebook으로 계속하기
        </a>
        <a href="http://localhost:8001/google">
          Google로 계속하기
        </a>
        <p>또는</p>
        <label>
          <input class="input" formControlName="email" placeholder="이메일 주소" type="email" />
        </label>
        <label>
          <input class="input" formControlName="password" placeholder="비밀번호" type="password" />
        </label>
        <a>비밀번호를 잊으셨나요?</a>
        <app-button type="submit">로그인</app-button>
        <p>
          계정이 없으신가요?
          <a routerLink="/accounts/signup">가입하기</a>
        </p>
      </form>
    </section>
  </article>
  <footer>
    from Euihyun
  </footer>
</main>
