<nav class="bottom-navigation">
  <ul class="bottom-navigation-items">
    <li class="bottom-navigation-item">
      <a class="bottom-navigation-item-link" routerLink="/">
        <i class="fas fa-home fa"></i>
      </a>
    </li>
    <li class="bottom-navigation-item">
      <a class="bottom-navigation-item-link" routerLink="/explore">
        <i class="fas fa-search fa"></i>
      </a>
    </li>
    <li class="bottom-navigation-item">
      <input
        accept="image/*"
        type="file"
        #fileInput
        (change)="onFileChange(fileInput.files)"
      />
      <button
        class="bottom-navigation-item-link"
        (click)="fileInput.click()"
      >
        <i class="fas fa-plus-square fa-2x"></i>
      </button>
    </li>
    <li class="bottom-navigation-item">
      <a class="bottom-navigation-item-link" routerLink="/activity">
        <i class="fas fa-heart fa"></i>
      </a>
    </li>
    <li class="bottom-navigation-item">
      <a class="bottom-navigation-item-link" routerLink="/profile">
        <i class="fas fa-user-circle fa"></i>
      </a>
    </li>
  </ul>
</nav>
